@use '../../../style/Sizes.scss';
@use '../../../style/Colors.scss';
@use '../../../style/ColorAssignments.scss';

.nav-bar-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0 0 Sizes.lh(1) 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
  }

  a {
    display: inline-block;
    line-height: Sizes.lh(1);
  }

  a.selected {
    background: ColorAssignments.$color-link;
    color: Colors.$color-dark-blue;
    text-decoration: none;
  }
}
