@use '../../style/Sizes.scss';

h1 {
  /* background: linear-gradient(to bottom, #ea9caf, #ea9caf);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #ea9caf;
  width: 100%;
  display: block;
  margin: 0 0 Sizes.lh(2) 0;
  white-space: pre;
  font-size: 1rem;
  line-height: Sizes.lh(1);
  text-align: left;
  text-shadow: 1ch Sizes.lh(.5) 0 #151020;
}

h1 a, h1 a:active, h1 a:visited {
  color: #ea9caf;
  text-decoration: none;
  width: 100%;
  display: block;
  line-height: Sizes.lh(1);
  font-size: 1rem;
}

h1 a:hover {
  background: none;
}
