.category-navigator-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.category-navigator-menu li {
  margin-right: 1em;
}

.category-navigator-menu a.selected {
  color: #00eeff;
}
