@use '../../style/Sizes.scss';

.secret-code {
  height: Sizes.lh(1);
  margin: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.char {
  height: Sizes.lh(1);
  max-width: 1ch;
  overflow: hidden;
  display: inline-block
}

.xyz {
  position: absolute;
  margin-top: -3px;
  opacity: .5;
  white-space: nowrap;
}
