@use '../../../style/Colors.scss';
@use '../../../style/Sizes.scss';

@use 'sass:color';

.ansi-art {
  line-height: Sizes.lh(1);
  text-align: left;
  margin-bottom: Sizes.lh(2);

  > div {
    white-space: pre;
  }
}

// $color-dark-top: #2e3f58;
$color-dark-top: #172b4a;
$color-dark-bottom: #3e6297; // blue
// $color-dark-bottom: #327a79; // green


$color-lite-top: #d68297;
$color-lite-bottom: Colors.$color-pink;

@for $i from 0 through 12 {
  $factor: calc($i / 12);
  $current-lite: color.mix($color-lite-bottom, $color-lite-top, calc($factor * 100%));
  $current-dark: color.mix($color-dark-bottom, $color-dark-top, calc($factor * 100%));


  .line-#{$i} {
    .lite_fg {
      color: $current-lite;
    }

    .dark_fg {
      color: $current-dark;
    }

    .dark_bg {
      background-color: $current-dark;
    }
  }
}
