.terminalize {
  overflow: hidden;
  position: relative;
}

.cursor {
  height: 1em;
  position: absolute;
  z-index: 100;
  white-space: nowrap;
  bottom: 0;

  &.hidden {
    display: none;
  }

  .char {
    width: 1ch;
    height: 1em;
    display: inline-block;
    background: rgba(255, 255, 255, 0.8);
  }

  .blocker {
    width: 200vw;
    height: 3em;
    display: inline-block;
    background: black;
    vertical-align: top
  }

  .blocker-below {
    width: 200vw;
    height: 4em;
    display: inline-block;
    background: black;
    position: absolute;
    top: calc(1em + 3px);
    left: -100vw;
  }

  &.no-block {
    .blocker {
      display: none;
    }

    .blocker-below {
      display: none;
    }
  }
}
