@use '../../../style/Sizes.scss';
@use '../../../style/Colors.scss';
@use '../../../style/ColorAssignments.scss';

.nav-tree {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  margin: 0 0 Sizes.lh(1) 0;
  list-style: none;
}

.nav-tree-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;

  li {
    margin: 0;
    position: relative;
    padding-left: 3ch;
    margin-bottom: Sizes.lh(1);
  }

  li:before {
    content: '├ ';
    position: absolute;
    left: 1ch;
  }

  li:last-child:before {
    content: '└ ';
    position: absolute;
    left: 1ch;
  }

  li:after {
    content: '│';
    position: absolute;
    left: 1ch;
    top: 2ch;
  }

  li:last-child:after {
    content: '';
  }

  a {
    display: inline-block;
  }

  a.selected {
    background: ColorAssignments.$color-link;
    color: Colors.$color-dark-blue;
    text-decoration: none;
  }
}
