/*

Dark mode color scheme:


Amaranth pink:  #ea9caf
Pink highlight: #eccddc
Space cadet:    #252339
Vista Blue:     #80a1d4
Tiffany Blue:   #75c9c8
Alabaster:      #f1f2eb

https://coolors.co/ea9caf-252339-80a1d4-75c9c8-f1f2eb

Inspiration: https://github.com/yuhonas/zsh-ansimotd

*/

$color-pink:           #ea9caf;
$color-pink-highlight: #eccddc;
$color-orange:         #eeaa66;
$color-dark-blue:      #252339;
$color-blue:           #80a1d4;
$color-teal:           #75c9c8;
$color-teal-highlight: #68d9d7;
$color-white:          #f1f2eb;
$color-purple:         #7d83ff;
$color-green:          #bceebb;
