@use '../../style/Sizes.scss';
@use '../../style/ColorAssignments.scss';

div.hero a, a.hero {
  display: block;
}

a.hero:hover,  div.hero a:hover,
a.hero:active, div.hero a:active {
  background: none;

  img {
    outline: 4px solid ColorAssignments.$color-link-hover;
    outline-offset: -4px;
  }
}

div.hero img, a.hero img, img.hero {
  display: block;
  object-fit: cover;
  width: 100%;
  margin-bottom: Sizes.lh(1);
}

div.hero .youtube-iframe-container {
  object-fit: cover;
  width: 100%;
}

div.hero {
  .youtube-iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
  }

  .youtube-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}