.centerer {
  width: round(down, 100%, 2ch);
  text-align: center;
  display: grid;
}

.centerer-margins {
  margin: 0 auto;
}

.centerer-width {
  width: round(up, 100%, 2ch);
  display: inline-block;
}

.centerer-width > *:first-child {
  padding-right: calc((round(up, 100%, 2ch) - 100%));
}
