@use '../../style/Colors.scss';
@use '../../style/Sizes.scss';

@use 'sass:color';

.ansi-art {
  line-height: Sizes.lh(1);
  text-align: left;
  margin-bottom: Sizes.lh(2);

  > div {
    white-space: pre;
  }
}

// $color-bg-top: #2e3f58;
$color-bg-top: #172b4a;
$color-bg-bottom: #3e6297; // blue
// $color-bg-bottom: #327a79; // green


$color-fg-top: #d68297;
$color-fg-bottom: Colors.$color-pink;


@for $i from 0 through 12 {
  $factor: $i / 12 * 100;
  $current-fg: mix($color-fg-bottom, $color-fg-top, $factor);
  $current-bg: mix($color-bg-bottom, $color-bg-top, $factor);


  .line-#{$i} {
    .fg {
      color: $current-bg;
    }

    .fgb {
      color: $current-fg;
    }


    .bg {
      background-color: $current-bg;
    }
  }
}
